body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a, a:hover {
    text-decoration: none;
}

/* css untuk section topbar */

#topbar {
    background-color: #49C5E8;
    height: 100px;
    line-height: 20px;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#topbar .top-nav {
    padding: 0;
}

#topbar .top-nav.kiri {
    text-align: left;
    display: grid;
}

#topbar .top-nav.kanan {
    text-align: center;
}

#topbar .top-nav li {
    display: inline-block;
}

#topbar .top-nav li a {
    color: #fff;
    padding: 5px 5px;
}

#topbar .top-nav li a:hover {
    color: rgba(255,255,255,.75);
}

#topbar .top-nav li a i {
    font-size: 14px;
}

#topbar .top-nav.kiri li a i {
    margin-right: 5px;
}

#topbar li a i {
    color: #FFFD00;
    margin-right: 5px;
}

#topbar .top-nav.kanan li a {
    padding: 0 5px;
}

#topbar .top-nav.kanan li a i {
    color: #fff;
}

#topbar .top-nav li a i:hover {
    color: rgba(255,255,255,.75);
}

/* css untuk header */

header .brand {
    display: flex;
}

header .brand .brand-title {
    margin-left: 20px;
    margin-top: 30px;
}

header .brand h1 {
    font-size: 25px;
    font-weight: 600;
    color: #49C5E8;
}

header .brand-title h4 { 
    font-family: "Raleway", Calibri, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: #888888;
    text-transform: uppercase;
}

header .col-md-4 {
    display: flex;
    align-items: center;
}

header form {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 150px;
}

header .row {
    margin-bottom: 0;
}

.btn.btn-utama,
a.btn.btn-utama {
    color: #FFFD00;
    background-color: #49C5E8;
}

.btn.btn-utama:hover,
a.btn.btn-utama:hover {
    background-color: #FFFD00;
    color: #49C5E8;
}

#tombol-cari {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

/* css untuk section menu */

nav.bg-primary {
    background-color: #49C5E8!important;
}

nav.navbar {
    padding: 0 15px;
    height: 50px;
}

.navbar-nav {
    position: relative;
    background-color: #49C5E8;
    z-index: 9999;
} 

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 15px 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    background-color: #FFFD00;
    color: #49C5E8;
}

.dropdown-menu {
    background-color: #49C5E8;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #49C5E8;
    color: rgba(255, 255, 255, .75);
}

/* css untuk section hero area */

#hero-area {
    position: relative;
    min-height: 500px;
    z-index: 9998;
}

#hero-area-nav .owl-prev,
#hero-area-nav .owl-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    background-color: #49C5E8;
    color: #fff;
    padding: 5px 10px;
    border: none;
    font-size: 20px;
    outline: none;
    transition: background-color 0.3s;
}

#hero-area-nav .owl-prev {
    left: 0;
    border-radius: 0 50px 50px 0;
}

#hero-area-nav .owl-next {
    right: 0;
    border-radius: 50px 0 0 50px;
}

#hero-area-nav .owl-prev:hover,
#hero-area-nav .owl-next:hover {
    cursor: pointer;
    background-color: #FFFD00;
    color: #49C5E8;
}

#hero-area .hero-area-item img {
    min-height: 500px;
    object-fit: cover;
    width: 100%;
}

/* css untuk section profil */

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* css untuk section sambutan */

#sambutan {
    margin: 60px 0;
}

#sambutan h2 {
    color: #49C5E8;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
}

#sambutan h3 {
    color: #49C5E8;
    font-size: 28px;
    font-weight: 500;
    padding-top: 30px;
}

#sambutan p {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #666;
    line-height: 28px;
}

#sambutan .btn-utama:hover {
    background-color: #FFFD00;
    color: #49C5E8;
}

/* css untuk section prestasi */

#prestasi {
    min-height: 250px;
}

#prestasi .col-item-kanan {
    padding: 20px 30px 20px 20px;
}

.section-item {
    margin: 70px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    min-height: 260px;
    overflow: hidden;
}

.section-item-thumbnail {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 300px;
    max-height: 100%;
}

.section-title {
    margin-bottom: 90px;
    text-align: center;
}

.section-title h2 {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-size: 30px;
    text-transform: uppercase;
    color: #49C5E8;
    font-weight: 600;
}

.section-title h2:after {
    position: absolute;
    content: "";
    width: 60%;
    height: 3px;
    background-color: #0ED500;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.section-item-title {
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
    padding-bottom: 20px;
}

.section-item-title h3 {
    font-size: 18px;
    color: #49C5E8;
    line-height: 25px;
    font-weight: 600;
    padding-right: 40px;
}

.section-item-title span {
    font-size: 12px;
    color: #666;
    font-weight: 500;
}

.section-item-title span i {
    margin-right:5px;
}

.section-item-title span:first-of-type {
    margin-right: 15px;
}

.section-item-meta {
    display: grid;
}

.section-item-body p {
    font-size: 12px;
    line-height: 25px;
    color: #666;
}

/* css untuk tombol selengkapnya */

section {
    margin: 80px 0;
}

section:first-of-type,
section:nth-of-type(2n) {
    margin: 0;
}

.tombol-selengkapnya {
    text-align: center;
}

.btn.btn-more {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #49C5E8;
    text-align: center;
    display: inline-block;
    border: 2px solid #49C5E8;
    border-radius: 0;
    padding: 10px 40px;
    transition: background-color 0.3s;
}

.btn.btn-more:hover {
    background-color: #49C5E8;
    color: #fff;
}

/* css untuk slider */

.section-item-slider {
    height: 300px;
    width: 150px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

#guru-staf .foto-guru {
    height: 65%;
    object-fit: cover;
}

.section-item-caption {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    color: #000;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding: 20px 10px 15px;
}

.section-item-caption h5 {
    color: #49C5E8;
    font-size: 18px;
    font-weight: 600;
}

.section-item-caption h6 {
    font-size: 14px;
    color: #0ED500;
    text-transform: uppercase;
}

#guru-staf .section-body {
    position: relative;
}

#slider-tools-1 .owl-next,
#slider-tools-1 .owl-prev,
#slider-tools-3 .owl-next,
#slider-tools-3 .owl-prev {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    z-index: 20;
    background-color: #49C5E8;
    border: none;
    height: 35px;
    width: 35px;
    color: #fff;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 20px #ddd;
    transition: background-color 0.3s;
}

#slider-tools-1 .owl-prev,
#slider-tools-3 .owl-prev {
    left: -15px;
}

#slider-tools-1 .owl-next:hover,
#slider-tools-1 .owl-prev:hover,
#slider-tools-3 .owl-next:hover,
#slider-tools-3 .owl-prev:hover {
    cursor: pointer;
    background-color: #FFFD00;
    color: #49C5E8;
}

/* css untuk section alumni */

#alumni {
    background-color: #49C5E8;
    padding: 80px 0;
}

#alumni .section-title h2 {
    color: #fff;
}

#alumni .section-item-slider {
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

#alumni .section-item-slider {
    height: 100%;
    width: 100%;
    padding: 20px;
}

#alumni .section-item-content h3 {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFD00;
}

#alumni .section-item-content h4 {
    font-size: 16px;
    font-weight: 500;
    color: #FFFD00;
}

#alumni .section-item-content p {
    font-size: 14px;
    color: #fff;
    line-height: 26px;
}

#alumni .tombol-selengkapnya {
    margin-top: 50px;
}

#alumni .btn.btn-more {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #49C5E8;
    color: #fff;
    text-align: center;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 0;
    padding: 10px 40px;
    transition: background-color 0.3s;
}

#alumni .btn.btn-more:hover {
    background-color: #FFFD00;
    color: #49C5E8;
    border-color: #FFFD00;
}

.foto-alumni {
    height: 100%;
    object-fit: cover;
}

.section-body {
    position: relative;
}

#slider-tools-2 .owl-next,
#slider-tools-2 .owl-prev {
    position: absolute;
    background-color: #0ED500;
    color: #fff;
    top: 50%;
    right: -15px;
    z-index: 20;
    border: none;
    height: 35px;
    width: 35px;
    outline: none;
    border-radius: 50%;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px #4b4b4b33;
}

#slider-tools-2 .owl-prev {
    left: -15px;
}

#slider-tools-2 .owl-prev:hover,
#slider-tools-2 .owl-next:hover {
    cursor: pointer;
    background-color: #FFFD00;
    color: #49C5E8;
}

/* css untuk section galeri */

#galeri .foto-galeri {
    height: 65%;
    object-fit: cover;
}

.video-galeri {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

#guru-staf .section-body,
#galeri .section-body {
    margin-bottom: 40px;
}

/* css untuk section ekstrakulikuler */

#ekstrakulikuler {
    background-color: #ddd;
    padding: 80px 0;
}

#ekstrakulikuler .col-md-4 {
    padding-bottom: 30px;
}

#ekstrakulikuler .section-body-item1 {
    background-color: #49C5E8;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    font-size: 25px;
}

#ekstrakulikuler .section-body-item h4 {
    font-weight: 500;
}

#ekstrakulikuler .section-body .row:first-of-type {
    margin-bottom: 30px;
}

#ekstrakulikuler .row-2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#ekstrakulikuler .tombol-selengkapnya {
    margin-top: 50px;
}

#ekstrakulikuler .btn.btn-more {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #0ED500;
    color: #fff;
    text-align: center;
    display: inline-block;
    border: 2px solid #0ED500;
    border-radius: 0;
    padding: 10px 40px;
    transition: background-color 0.3s;
}

#ekstrakulikuler .btn.btn-more:hover {
    background-color: #FFFD00;
    color: #49C5E8;
    border: 2px solid #FFFD00;
}

/* css untuk section berita */

#berita .row {
    margin-bottom: 50px;
}

.section-thumbnail {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.section-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-thumbnail .tanggal {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    background-color: #49C5E8;
    color: #FFFD00;
    padding: 5px 10px;
    border-radius: 5px;
}

.section-thumbnail .tanggal span {
    margin: 0;
    padding: 0;
}

.section-thumbnail .tanggal span.tgl {
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -10px;
}

.section-thumbnail .tanggal span.tgl-2 {
    font-size: 10px;
}

#berita .section-content {
    padding: 20px 0 0;
}

#berita .section-content h3 {
    font-size: 16px;
    font-weight: 600;
    color: #49C5E8;
    line-height: 24px;
}

#berita .section-content p {
    font-size: 14px;
    color: #777777;
    line-height: 24px;
}

#berita .section-content p .more {
    color: #49C5E8;
    font-weight: 500;
}

.section-meta {
    margin-bottom: 10px;
}

.section-meta span {
    background-color: #49C5E8;
    color: #fff;
    padding: 5px 15px;
    font-size: 11px;
    text-transform: uppercase;
}

.section-meta span i {
    margin-right: 5px;
}

#berita .tombol-selengkapnya {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* css untuk footer */

footer {
    color: #fff;
    background-color: #49C5E8;
    padding: 80px 0 0;
}

footer .footer-col {
    margin-top: 30px;
}

footer .footer-col:first-of-type {
    padding-right: 30px;
}

footer .brand {
    display: flex;
}

footer .brand img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

footer .brand h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
}

footer .tentang {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

footer .sosmed {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .sosmed li {
    display: inline-block;
    margin-right: 15px;
}

footer .sosmed li a {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    line-height: 50px;
}

footer .sosmed li a:hover {
    color: #666;
}

a.wa, a.email {
    color: #fff;
}

a.wa:hover, a.email:hover {
    border-bottom: 1px solid #fff;
}

.footer-col h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-col .alamat {
    font-size: 14px;
    line-height: 25px;
}

.footer-col .kontak {
    list-style: none;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
}

.footer-col .kontak li {
    margin: 10px 0;
}

.footer-col .kontak i {
    margin-right: 10px;
}

.footer-col .footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col .footer-nav li {
    margin: 10px 0;
}

.footer-col .footer-nav a {
    color: #fff;
    font-size: 15px;
    font-weight: 28px;
    transition: all 0.5s;
}

.footer-col .footer-nav a:hover {
    border-bottom: 1px solid #fff;
    
}

.footer-copyright .container {
    border-top: 1px solid rgba(242, 242, 242, 0.25);
    padding: 10px 0;
}

.footer-copyright {
    margin-top: 60px;
}

.footer-copyright h6 {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2.title {
    margin-top: 25px;
}

/* css untuk scroll to top button */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #ffff0081; /* Set a background color */
    color: #49c6e885; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
    width: 50px;
  }
  
  #myBtn:hover {
    background-color: #FFFD00; /* Set a background color */
    color: #49C5E8; /* Text color */
  }

/* css untuk profil_sekolah.html */

#profil h2 {
    margin-top: 50px;
}

#profil .row {
    margin-bottom: 50px;
}

/* css untuk sejarah_sekolah.html */

#sejarah {
    margin-bottom: 100px;
}

#sejarah h2.title {
    margin-top: 50px;
}

#sejarah p {
    font-size: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #555;
    text-align: justify;
}

/* css untuk identitas_sekolah.html */

#identitas {
    margin-bottom: 50px;
}

#identitas h2.title {
    margin-top: 50px;
}

#identitas p {
    font-size: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #555;
}

/* css untuk struktur_organisasi.html */

#struktur h2.title {
    margin-top: 50px;
}

#struktur .card {
    border-style: none;
}

#struktur .card-img-top {
    height: 250px;
    width: 250px;
}

#struktur .card2 img {
    margin-left: 100px;
}

#struktur .card-body {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #555;
}

#struktur .row-2 {
    margin-top: 50px;
}

#struktur h5 {
    color: #49C5E8;
}

#struktur p {
    color: #0ED500;
}

/* css untuk visi_misi.html */

#visimisi {
    margin-bottom: 100px;
}

#visimisi h2.title {
    margin-top: 50px;
}

#visimisi .card-header  {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    background-color: #49C5E8;
}

#visimisi .card-body {
    font-size: 18px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    background-color: #FFFD00;
}

/* css untuk kepala_sekolah.html */

#kepsek h2.title {
    margin-top: 50px;
}

#kepsek .card {
    border-style: none;
    margin-left: 50px;
}

#kepsek .card-img-top {
    height: 350px;
    width: 350px;
}

#kepsek .card-body {
    font-size: 15px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #555;
}

#kepsek h3 {
    font-size: 30px;
    font-weight: 600;
    color: #49C5E8;
}

#kepsek .col-md-8 {
    display: inline;
}

#kepsek .col-md-8 h3 {
    text-align: center;
}

#kepsek .col-md-8 p {
    font-size: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #555;
    text-align: justify;
}

#kepsek h5 {
    color: #49C5E8;
}

#kepsek p.card-text {
    color: #0ED500;
}

/* css untuk guru.html */

#guru h2.title {
    margin-top: 50px;
}

#guru .card {
    border-style: none;
}

#guru .card-img-top {
    height: 250px;
    width: 250px;
}

#guru .card-body {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #555;
}

#guru img {
    margin-left: 100px;
}

#guru h5 {
    color: #49C5E8;
}

#guru p {
    color: #0ED500;
}

/* css untuk alumni.html */

#alumni2 h2.title {
    margin-top: 50px;
}

#alumni2 .card {
    border-style: none;
}

#alumni2 .card-img-top {
    height: 250px;
    width: 250px;
}

#alumni2 .card-body {
    color: gray;
}

#alumni2 .card-body {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #555;
}

#alumni2 img {
    margin-left: 100px;
}

#alumni2 h5 {
    color: #49C5E8;
}

#alumni2 h6 {
    color: #0ED500;
}

/* css untuk sarana_prasarana.html */

#sarana h2.title {
    margin-top: 50px;
}

#sarana .container-2 {
    margin-bottom: 100px;
}

#sarana .col-item-kanan {
    padding: 20px 30px 20px 20px;
}

#sarana h3 {
    font-size: 25px;
}

#sarana p {
    font-size: 15px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* css untuk ekstrakulikuler.html */

#ekskul h2.title {
    margin-top: 50px;
}

#ekskul .container-2 {
    margin-bottom: 100px;
}

#ekskul .col-item-kanan {
    padding: 20px 30px 20px 20px;
}

#ekskul h3 {
    font-size: 25px;
}

#ekskul p {
    font-size: 15px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* css untuk prestasi.html */

#prestasi h2.title {
    margin-top: 50px;
}

#prestasi .container-2 {
    margin-bottom: 100px;
}

#prestasi h3 {
    font-size: 20px;
}

#prestasi p {
    font-size: 15px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* css untuk berita_sekolah.html */

#berita h2.title {
    margin-top: 50px;
}

#berita {
    margin-top: 50px;
}

#berita .row {
    margin-bottom: 50px;
}

/* css untuk pengumuman.html */

#pengumuman h2.title {
    margin-top: 50px;
}

#pengumuman {
    margin-top: 50px;
}

#pengumuman .row {
    margin-bottom: 50px;
}

.section-thumbnail {
    width: 100%;
    height: 237px;
    overflow: hidden;
    position: relative;
}

.section-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-thumbnail .tanggal {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    background-color: #49C5E8;
    color: #FFFD00;
    padding: 5px 10px;
    border-radius: 5px;
}

.section-thumbnail .tanggal span {
    margin: 0;
    padding: 0;
}

.section-thumbnail .tanggal span.tgl {
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -10px;
}

.section-thumbnail .tanggal span.tgl-2 {
    font-size: 10px;
}

#pengumuman .section-content {
    padding: 20px 0 0;
}

#pengumuman .section-content h3 {
    font-size: 16px;
    font-weight: 600;
    color: #49C5E8;
    line-height: 24px;
}

#pengumuman .section-content p {
    font-size: 14px;
    color: #777777;
    line-height: 24px;
}

#pengumuman .section-content p .more {
    color: #49C5E8;
    font-weight: 500;
}

.section-meta a {
    background-color: #49C5E8;
    color: #fff;
    padding: 5px 15px;
    font-size: 11px;
    text-transform: uppercase;
}

.section-meta a i {
    margin-right: 5px;
}

/* css untuk agenda.html */

#agenda h2.title {
    margin-top: 50px;
}

#agenda h2.fc-toolbar-title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #49C5E8;
    text-align: center;
}

#agenda .fc-button {
    background-color: #49C5E8;
    border-color: #fff;
}

#agenda .fc-button:hover {
    background-color: #FFFD00;
    color: #49C5E8;
    border-color: #49C5E8;
}

#agenda .fc-button-group {
    display: grid;
}

#agenda .fc-toolbar-chunk {
    display: grid;
}

#agenda .fc-today-button {
    margin-left: -0.5px;
}

#calendar {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 10px;
}

/* css untuk kalender_akademik.html */

#kalender h2.title {
    margin-top: 50px;
}

#kalender h2.fc-toolbar-title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #49C5E8;
    text-align: center;
}

#kalender .fc-button {
    background-color: #49C5E8;
    border-color: #fff;
}

#kalender .fc-button:hover {
    background-color: #FFFD00;
    color: #49C5E8;
    border-color: #49C5E8;
}

#kalender .fc-button-group {
    display: grid;
}

#kalender .fc-toolbar-chunk {
    display: grid;
}

#kalender .fc-today-button {
    margin-left: -0.5px;
}

#calendar {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 10px;
}

/* css untuk galeri_foto.html */

#foto h2.title {
    margin-top: 50px;
}

#foto .col-md-12 {
    margin-bottom: 50px;
}

#foto .card {
    border-style: none;
}

#foto .card-body {
    text-align: center;
    border-style: none;
}

#foto h5.card-title {
    color: #49C5E8;
}

#foto p.card-text {
    color: #0ED500;
}

/* css untuk galeri_video.html */

#video h2.title {
    margin-top: 50px;
}

#video iframe.video {
    margin-left: 30px;
    margin-bottom: 30px;
    width: 400px;
    height: 300px;
}

/* css untuk kontak.html */

#kontak {
    margin-bottom: 100px;
}

#kontak h2.title {
    margin-top: 50px;
}

#kontak .row {
    margin-left: 65px;
}

#kontak .card {
    margin-bottom: 30px;
}

#kontak .card-body {
    height: 150px;
    background-color: #49C5E8;
    color: #FFFD00;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

#kontak .col-md-12 iframe {
    width: 100%;
    height: 600px;
    padding-top: 50px;
}

/* overlay */
.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    z-index: 9999;
    transition: .8s;
    text-align: center;
    padding: 100px 0;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.7);
}

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0,0,0,.5);
}

.overlay:target img {
    animation: zoomDanFade 1s;
}

.overlay .close {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -15px;
    color: white;
}

/* animasi */
@keyframes zoomDanFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Desktop Version */
@media (min-width: 992px) {

    /* css untuk section topbar */

    #topbar {
        height: 50px;
        line-height: 50px;
    }

    #topbar .top-nav.kiri {
        display: inline;
    }

    /* css untuk header */

    header form {
        padding: 0;
    }

    header .row {
        margin-bottom: 30px;
    }

    /* css untuk hero-area */

    #hero-area-nav .owl-prev,
    #hero-area-nav .owl-next {
        padding: 12px 25px;
    }

    /* css untuk sambutan */

    #sambutan h3 {
        padding: 0;
    }

    /* css untuk prestasi */
    
    .section-item-meta {
        display: inline;
    }

    /* css untuk ekstrakulikuler */

    #ekstrakulikuler .col-md-4 {
        padding-bottom: 0;
    }

    /* css untuk guru & staf, galeri */

    .section-item-slider {
        width: 100%;
    }
    
    #guru-staf .foto-guru {
        height: 100%;
    }

    .video-galeri {
        height: 75%;
    }
    
    /* css untuk slider guru & galeri */

    #slider-tools-1 .owl-next,
    #slider-tools-1 .owl-prev,
    #slider-tools-3 .owl-next,
    #slider-tools-3 .owl-prev {
        right: -60px;
    }

    #slider-tools-1 .owl-prev,
    #slider-tools-3 .owl-prev {
        left: -60px;
    }

    /* css untuk alumni */

    #slider-tools-2 .owl-next,
    #slider-tools-2 .owl-prev {
        right: -50px;
    }

    #slider-tools-2 .owl-prev {
        left: -50px;
    }

    /* css untuk struktur_organisasi.html */

    #struktur .card2 img {
        margin-left: 0;
    }

    /* css untuk kepala_sekolah.html */

    #kepsek .card {
        margin-left: 0;
    }
    
    #kepsek .col-md-8 h3 {
        text-align: left;
    }

    /* css untuk guru.html */

    #guru img {
        margin-left: 0;
    }

    /* css untuk alumni.html */
    
    #alumni2 img {
        margin-left: 0;
    }

    /* css untuk agenda.html */
    
    #agenda .fc-button-group {
        display: inline;
    }
    
    #agenda .fc-toolbar-chunk {
        display: inline;
    }
    
    #agenda .fc-today-button {
        margin-left: 0;
    }

    /* css untuk kalender_akademik.html */
    
    #kalender .fc-button-group {
        display: inline;
    }
    
    #kalender .fc-toolbar-chunk {
        display: inline;
    }
    
    #kalender .fc-today-button {
        margin-left: 0;
    }

    /* css untuk kontak.html */
    
    #kontak .row {
        margin-left: 35px;
    }

    #kontak .card {
        margin-bottom: 50px;
    }

    #kontak .col-md-12 iframe {
        width: 100%;
        height: 600px;
        padding-top: 50px;
    }

    /* css untuk footer */
    footer .footer-col {
        margin-top: 0;
    }
}